<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kuleuven.cs.chikwadraat.socialfridge">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="be.kuleuven.cs.chikwadraat.socialfridge.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="be.kuleuven.cs.chikwadraat.socialfridge.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".DishesActivity"
            android:label="@string/dishes_title" />

        <activity
            android:name=".party.CreatePartyActivity"
            android:label="@string/party_create_title" />

        <activity
            android:name=".party.PartyInviteActivity"
            android:label="@string/party_invite_title" />

        <activity
            android:name=".party.ArrangePartyActivity"
            android:label="@string/party_arrange_title" />

        <service android:name=".notifications.NotificationService" />

        <!-- Facebook -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity android:name="com.facebook.LoginActivity" />

        <!-- Google Cloud Messaging -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="be.kuleuven.cs.chikwadraat.socialfridge" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

    </application>

</manifest>
